<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarkly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap Icons の追加 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      html, body {
        height: 100%;
        overflow: hidden;
        background-color: #f8f9fa;  /* Bootstrap の bg-light と同じ色 */
      }
      .content-wrapper {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    </style>
  </head>

  <body class="bg-light">
    <div class="content-wrapper">
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
